:root {
    --menu-color: white;
    --button-bgcolor: white;
    --button-color: black;
    --content_header-color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* ---> Utility <---  */

.red {
    background-color: rgb(247, 72, 72);
}

.blue {
    background-color: cornflowerblue;
}

.p_relative {
    position: relative;
}

.p_absolute {
    position: absolute;
}

.cleafix::after {
    content: '';
    display: table;
    clear: both;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}
/* ---> Common <---  */

.container {
    width: 1100px;
    height: 460px;
    margin: 0 auto;  
}

/* ---> header <---  */

header {
    background-image: url('../img/jumbo.png');
    height: 460px;
    background-size: cover;
    padding-top: 0.7rem;
}

.navbar>.logo {
    width: 20%;
    height: 30px;
}

.logo>img {
    height: 30px;
}

.navbar>ul {
    text-decoration: none;
    width: 60%;
    text-align: center;
}

.menu>li {
    display: inline-block;
    padding: 0.5rem;
}

.menu a {
    text-decoration: none;
    font-weight: 500;
    color: var(--menu-color);
    font-size: 12px;
}

.menu>li:hover a{
    text-decoration: underline;
}

.login {
    text-decoration: none;
    font-size: 10px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    width: 60px;
    text-align: center;
    border-radius: 20px;  
    background-color: var(--button-bgcolor);
    color: var(--button-color);  
}

.content {
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 524px;
}

.content>p {
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: var(--content_header-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 23px;
}

.content>h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--content_header-color);
}

.content>a {
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
    height: 30px;
    line-height: 30px;
    width: 60px;
    text-align: center;
    border-radius: 20px;      
    font-size: 12px;
    padding: 8px 16px;
}

.content>.download {
    color: var(--button-color);
    background-color: var(--button-bgcolor);
}

.content>.open_browser {
    color: var(--button-bgcolor);
    background-color: var(--button-color);
    margin-left: 1rem;
}

.download>.freccia {
    font-size: 16px;
    font-weight: 500;
    padding-right: 4px;
}

/* ---> Main <---  */

.img_section1 {
    width: 70%;
}

.img_section1>img {
    padding: 2rem;
    width: 650px;
}

.text_section1 {
    width: 30%;
}