:root {
    --menu-color: white;
    --button-bgcolor: white;
    --button-color: black;
    --content_header-color: white;
    --onda-bgcolor: #e5e5e5;
    --downloadsect4-bgcolor: #8ea1e1;
    --downloadsect4-color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* ---> Utility <---  */

.inverse{
    transform: rotate(180deg);
}

.bg_onda {
    background-color: var(--onda-bgcolor);
}

.red {
    background-color: rgb(247, 72, 72);
}

.blue {
    background-color: cornflowerblue;
}

.p_relative {
    position: relative;
}

.p_absolute {
    position: absolute;
}

.cleafix::after {
    content: '';
    display: table;
    clear: both;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}
/* ---> Common <---  */

.container {
    width: 1100px;
    height: 460px;
    margin: 0 auto;  
}

.onda_container {
    height: 100px;
    background-image: url('../img/wave.svg');
    filter: opacity(0.1);  
}

/************* ---> header <---  ****************/

header {
    background-image: url('../img/jumbo.png');
    height: 460px;
    background-size: cover;
    padding-top: 0.7rem;
}

.navbar>.logo {
    width: 20%;
    height: 30px;
}

.logo>img {
    height: 30px;
}

.navbar>ul {
    text-decoration: none;
    width: 60%;
    text-align: center;
}

.menu>li {
    display: inline-block;
    padding: 0.5rem;
}

.menu a {
    text-decoration: none;
    font-weight: 500;
    color: var(--menu-color);
    font-size: 12px;
}

.menu>li:hover a{
    text-decoration: underline;
}

.login {
    text-decoration: none;
    font-size: 11px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    width: 60px;
    text-align: center;
    border-radius: 20px;  
    background-color: var(--button-bgcolor);
    color: var(--button-color);  
}

.content {
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 524px;
}

.content>p {
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: var(--content_header-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 23px;
}

.content>h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--content_header-color);
}

.content>a {
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
    height: 30px;
    line-height: 30px;
    width: 60px;
    text-align: center;
    border-radius: 20px;      
    font-size: 12px;
    padding: 8px 16px;
}

.content>.download {
    color: var(--button-color);
    background-color: var(--button-bgcolor);
}

.content>.open_browser {
    color: var(--button-bgcolor);
    background-color: var(--button-color);
    margin-left: 1rem;
}

.download>.freccia {
    font-size: 16px;
    font-weight: 500;
    padding-right: 4px;
}

/********** ---> Main <---  **************/


/* ---> Section1 <---  */
.img_section1 {
    width: 65%;
}

.img_section1>img {
    padding: 2rem;
    width: 650px;
}

.text_section1 {
    width: 35%;
    padding-top: 4rem;
    padding-right: 8rem;
    padding-left: 0;
}

.text_section1>h2 {
    font-size: 30px;
    font-weight: 700;
}

.text_section1>p {
    padding-top: 1rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}



/* ---> Section2 <---  */

.img_section2 {
    width: 65%;
}

.img_section2>img {
    padding: 2rem;
    width: 650px;
}

.text_section2 {
    width: 35%;
    padding-top: 4rem;
    padding-right: 7rem;
    padding-left: 0.7rem;
}

.text_section2>h2 {
    font-size: 30px;
    font-weight: 700;
}

.text_section2>p {
    padding-top: 1rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

/* ---> Section3 <---  */

.img_section3 {
    width: 65%;
}

.img_section3>img {
    padding: 2rem;
    width: 650px;
}

.text_section3 {
    width: 35%;
    padding-top: 4rem;
    padding-right: 7rem;
    padding-left: 0.7rem;
}

.text_section3>h2 {
    font-size: 30px;
    font-weight: 700;
}

.text_section3>p {
    padding-top: 1rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

/* ---> Section4 <---  */

.container_section4 {
    width: 1100px;
    margin: 0 auto;
    padding-bottom: 4rem; 
}

.title_section4 {
    text-align: center;
    padding-top: 2rem;
}


.title_section4>h2 {
    font-size: 30px;
    font-weight: 700;
}

.title_section4>p {
    padding-top: 1rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 12rem;
    padding-right: 12rem;
}

.download_section4>h4{
    display: inline-block;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-left: 3rem;
    background-size: contain;
    padding-right: 3rem;
    background-image: url('../img/stars.svg') ;
}

.download_section4 a {
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
    height: 30px;
    line-height: 30px;
    width: 60px;
    text-align: center;
    border-radius: 20px;      
    font-size: 12px;
    padding: 8px 16px;
    color: var(--downloadsect4-color);
    background-color: var(--downloadsect4-bgcolor);
}

.download_section4 div {
    padding: 3rem;
}